Repository MasDenBy/home-library: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.api.yml, azure-pipelines.web.yml

azure-pipelines.api.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 12.x
    displayName: Install Node.js
  - script: 'cd ./api
  
      npm install -g webpack webpack-cli --save-dev
  
      npm install
  
      npx webpack --config webpack.config.js
  
      '
  - task: Npm@1
    inputs:
  ...

azure-pipelines.web.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: 12.x
    displayName: Install Node.js

#13 Adjust karma to use cobertura code coverage
  web/karma.conf.js
Due: azure-pipelines.web.yml

Update azure-pipelines.web.yml for use npm task and publish code coverage reports
  azure-pipelines.web.yml
Due: none

#13 Add ChromeHeadless browser for angular tests
  web/karma.conf.js
Due: azure-pipelines.web.yml

Add pipeline badges
  README.md
Due: none

#15 Get book information from openlibrary
  api/package-lock.json
  api/package.json
  api/src/books/controllers/books.controller.ts
  api/src/books/dataaccess/book.dataobject.ts
  api/src/books/services/book.service.ts
  api/src/common/common.container.config.ts
  api/src/common/dataaccess/db.wrapper.ts
  api/src/common/dataaccess/entities/book.entity.ts
  api/src/common/dataaccess/entities/metadata.entity.ts
  api/src/common/services/fs.wrapper.ts
  api/src/common/services/image.service.ts
  api/src/common/services/openlibrary/index.ts
  api/src/common/services/openlibrary/openlibrary.dto.ts
  api/src/common/services/openlibrary/openlibrary.service.ts
  api/src/config.ts
  api/tests/books/controllers/books.controller.test.ts
  api/tests/books/dataaccess/book.dataobject.test.ts
  api/tests/books/services/book.service.test.ts
  api/tests/common/services/fs.wrapper.test.ts
  api/tests/common/services/image.service.test.ts
  api/tests/common/services/openlibrary/openlibrary.service.test.ts
Due: azure-pipelines.api.yml

#15 Get image as base64 string in book dto
  api/src/books/dto/book.dto.ts
  api/src/books/services/book.service.ts
  api/src/common/services/fs.wrapper.ts
  api/src/common/services/image.service.ts
  api/tests/books/services/book.service.test.ts
  api/tests/common/services/fs.wrapper.test.ts
  api/tests/common/services/image.service.test.ts
  web/src/app/views/books/details/book-details.component.spec.ts
  web/src/app/views/books/models/book.model.ts
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#15 Fix book update method
  api/src/books/controllers/books.controller.ts
  api/src/books/dataaccess/book.dataobject.ts
  api/src/books/services/book.service.ts
  api/src/common/dataaccess/entities/book.entity.ts
  api/src/common/services/openlibrary/openlibrary.dto.ts
  api/tests/books/controllers/books.controller.test.ts
  api/tests/books/services/book.service.test.ts
  web/src/app/common/index.service.ts
  web/src/app/common/tests/index.service.spec.ts
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#16 Make npm commands consistent within applications
  api/jest.config.js
  api/package.json
  azure-pipelines.api.yml
  azure-pipelines.web.yml
Due: azure-pipelines.api.yml

#16 Install ESLint to API
  api/.eslintignore
  api/.eslintrc
  api/package-lock.json
  api/package.json
  api/src/app.ts
  api/src/books/controllers/books.controller.ts
  api/src/books/dataaccess/book.dataobject.ts
  api/src/books/services/book.service.ts
  api/src/common/controllers/api.controller.ts
  api/src/common/dataaccess/data.object.ts
  api/src/common/services/fs.wrapper.ts
  api/src/common/services/indexer.service.ts
  api/src/config.ts
  api/src/fm/controllers/filemanager.controller.ts
  api/src/libraries/controllers/libraries.controller.ts
  api/src/libraries/services/library.service.ts
  api/src/libraries/services/library.watcher.ts
  api/tests/__helpers__/ts-mockito.helper.ts
  api/tests/books/controllers/books.controller.test.ts
  api/tests/books/dataaccess/book.dataobject.test.ts
  api/tests/common/controllers/api.controller.test.ts
  api/tests/common/dataaccess/data.object.test.ts
  api/tests/common/services/fs.wrapper.test.ts
  api/tests/common/services/image.service.test.ts
  api/tests/common/services/openlibrary/openlibrary.service.test.ts
  api/tests/libraries/controllers/libraries.controller.test.ts
  api/tests/libraries/services/library.service.test.ts
  api/tests/libraries/services/library.watcher.test.ts
  api/tslint.json
Due: azure-pipelines.api.yml

#16 Add lint task into pipeline for api
  azure-pipelines.api.yml
Due: none

#16 Replace TSLint with ESLint for web
  web/.eslintrc.json
  web/angular.json
  web/package-lock.json
  web/package.json
  web/src/app/app.component.spec.ts
  web/src/app/app.component.ts
  web/src/app/common/http.service.ts
  web/src/app/common/index.service.ts
  web/src/app/constants.ts
  web/src/app/views/books/details/book-details.component.html
  web/src/app/views/books/details/book-details.component.spec.ts
  web/src/app/views/books/details/book-details.component.ts
  web/src/app/views/books/edit/book-edit.component.html
  web/src/app/views/books/edit/book-edit.component.spec.ts
  web/src/app/views/books/list/books-list.component.html
  web/src/app/views/books/list/books-list.component.spec.ts
  web/src/app/views/books/list/books-list.component.ts
  web/src/app/views/books/models/book.model.ts
  web/src/app/views/books/services/book.service.spec.ts
  web/src/app/views/books/services/book.service.ts
  web/src/app/views/index.ts
  web/src/app/views/library/list/library-list.component.html
  web/src/app/views/library/list/library-list.component.ts
  web/src/app/views/library/manage/manage-library.component.html
  web/src/app/views/library/manage/manage-library.component.ts
  web/src/app/views/library/services/library.service.ts
  web/tslint.json
Due: azure-pipelines.web.yml

#16 Fix unit tests for web
  web/src/app/views/library/list/library-list.component.spec.ts
  web/src/app/views/library/manage/manage-library.component.spec.ts
Due: azure-pipelines.web.yml

#16 Fix incorrect lint task for api pipeline
  azure-pipelines.api.yml
Due: none

#19 Update book metadata
  api/.eslintrc
  api/src/app.ts
  api/src/books/controllers/books.controller.ts
  api/src/books/dataaccess/book.dataobject.ts
  api/src/books/dto/book.dto.ts
  api/src/books/services/book.service.ts
  api/src/common/dataaccess/db.wrapper.ts
  api/src/common/services/fs.wrapper.ts
  api/src/common/services/indexer.service.ts
  api/src/libraries/controllers/libraries.controller.ts
  api/src/libraries/services/library.service.ts
  api/tests/books/dataaccess/book.dataobject.test.ts
  api/tests/books/services/book.service.test.ts
  api/tests/common/services/indexer.service.test.ts
  api/tests/common/services/openlibrary/openlibrary.service.test.ts
  api/tests/config.test.ts
  api/tests/fm/service/filemanager.service.test.ts
  api/tests/libraries/controllers/libraries.controller.test.ts
  api/tests/libraries/services/library.service.test.ts
  api/tests/libraries/services/library.watcher.test.ts
  web/src/app/views/books/details/book-details.component.spec.ts
  web/src/app/views/books/edit/book-edit.component.html
  web/src/app/views/books/edit/book-edit.component.spec.ts
  web/src/app/views/books/list/books-list.component.spec.ts
  web/src/app/views/books/models/book.model.ts
  web/src/app/views/books/services/book.service.spec.ts
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#20 Show book metadata on view page
  api/src/books/dto/book.dto.ts
  api/src/books/services/book.service.ts
  web/src/app/views/books/books.module.ts
  web/src/app/views/books/details/book-details.component.html
  web/src/app/views/books/details/book-details.component.scss
  web/src/app/views/books/details/book-details.component.spec.ts
  web/src/app/views/books/edit/book-edit.component.html
  web/src/app/views/books/edit/book-edit.component.scss
  web/src/app/views/books/models/book.model.ts
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

Add database module
  api/package-lock.json
  api/package.json
  api/src/app.module.ts
  api/src/common/config.ts
  api/src/common/config/config.module.ts
  api/src/common/config/config.ts
  api/src/common/database/database.module.ts
  api/src/main.ts
Due: azure-pipelines.api.yml

#45 Move libraries to nestjs
  api/.vscode/launch.json
  api/README.md
  api/ormconfig.json
  api/package-lock.json
  api/package.json
  api/src/app.controller.spec.ts
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/app.service.ts
  api/src/common/config/config.module.ts
  api/src/common/config/config.ts
  api/src/common/database/base.datastore.test.ts
  api/src/common/database/base.datastore.ts
  api/src/common/database/base.entity.ts
  api/src/common/database/database.module.ts
  api/src/common/database/migrations/1631436479521-AddLibraryTable.ts
  api/src/libraries/database/library.datastore.ts
  api/src/libraries/database/library.entity.ts
  api/src/libraries/libraries.controller.test.ts
  api/src/libraries/libraries.controller.ts
  api/src/libraries/libraries.module.ts
  api/src/libraries/library.dto.ts
  api/src/libraries/services/library.service.test.ts
  api/src/libraries/services/library.service.ts
  api/src/main.ts
  api/src/scripts/write-type-orm-config.ts
  api/start.sh
  api/test/app.e2e-spec.ts
  api/test/libraries.e2e-spec.ts
Due: azure-pipelines.api.yml

#45 Move filemanager controller to nestjs
  api/src/app.module.ts
  api/src/core/common/common.module.ts
  api/src/core/common/services/fs.wrapper.test.ts
  api/src/core/common/services/fs.wrapper.ts
  api/src/core/config/config.ts
  api/src/core/database/base.datastore.test.ts
  api/src/core/database/base.datastore.ts
  api/src/core/database/base.entity.ts
  api/src/core/database/database.module.ts
  api/src/core/database/migrations/1631436479521-AddLibraryTable.ts
  api/src/filemanager/filemanager.controller.test.ts
  api/src/filemanager/filemanager.controller.ts
  api/src/filemanager/filemanager.module.ts
  api/src/filemanager/folder.dto.ts
  api/src/filemanager/services/filemanager.service.test.ts
  api/src/filemanager/services/filemanager.service.ts
  api/src/libraries/database/library.datastore.ts
  api/src/libraries/database/library.entity.ts
  api/src/libraries/services/library.service.test.ts
Due: azure-pipelines.api.yml

#45 Add books controller
  api/ormconfig.json
  api/package-lock.json
  api/package.json
  api/src/app.module.ts
  api/src/books/books.controller.test.ts
  api/src/books/books.controller.ts
  api/src/books/books.module.ts
  api/src/books/database/book.datastore.test.ts
  api/src/books/database/book.datastore.ts
  api/src/books/database/book.entity.ts
  api/src/books/database/file.entity.ts
  api/src/books/database/metadata.entity.ts
  api/src/books/dto/book.dto.ts
  api/src/books/dto/book.search.dto.ts
  api/src/books/services/book.service.test.ts
  api/src/books/services/book.service.ts
  api/src/core/common/common.module.ts
  api/src/core/common/dto/page.dto.ts
  api/src/core/common/services/image.service.ts
  api/src/core/config/config.ts
  api/src/core/database/base.datastore.ts
  api/src/core/database/migrations/1631807938469-AddBookTables.ts
  api/src/core/openlibrary/openlibrary.dto.ts
  api/src/core/openlibrary/openlibrary.module.ts
  api/src/core/openlibrary/openlibrary.service.ts
  api/src/filemanager/filemanager.module.ts
  api/src/libraries/database/library.entity.ts
  api/src/main.ts
  api/src/scripts/write-type-orm-config.ts
Due: azure-pipelines.api.yml

#45 Add books functionality
  .gitignore
  api/.vscode/launch.json
  api/src/books/books.controller.ts
  api/src/books/books.module.ts
  api/src/books/database/book.datastore.ts
  api/src/books/services/book.service.ts
  api/src/core/common/services/image.service.ts
  api/src/core/common/services/tests/fs.wrapper.test.ts
  api/src/core/common/services/tests/image.service.test.ts
  api/src/filemanager/filemanager.module.ts
  api/src/libraries/libraries.controller.test.ts
  api/src/libraries/libraries.controller.ts
  api/src/libraries/libraries.module.ts
  api/src/libraries/services/indexer.service.ts
  api/src/libraries/services/library.service.ts
  api/src/libraries/services/library.watcher.ts
  api/src/libraries/services/tests/indexer.service.test.ts
  api/src/libraries/services/tests/library.service.test.ts
  api/src/libraries/services/tests/library.watcher.test.ts
  api/src/main.ts
  web/src/app/views/books/details/book-details.component.html
  web/src/app/views/books/edit/book-edit.component.ts
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#45 Add swagger documentation for controller methods
  api/src/books/books.controller.test.ts
  api/src/books/books.controller.ts
  api/src/books/dto/book.dto.ts
  api/src/books/dto/book.search.dto.ts
  api/src/books/services/book.service.ts
  api/src/core/common/decorators/pagedto.decorator.ts
  api/src/core/common/dto/page.dto.ts
  api/src/core/openlibrary/openlibrary.service.test.ts
  api/src/filemanager/filemanager.controller.ts
  api/src/filemanager/folder.dto.ts
  api/src/libraries/libraries.controller.ts
Due: azure-pipelines.api.yml

#45 Fix name of coverage script
  api/package.json
  azure-pipelines.api.yml
Due: azure-pipelines.api.yml

#45 exclude unnecessary files from code coverage
  api/package.json
Due: azure-pipelines.api.yml

#45 Add additional information into package.json
  api/package.json
Due: azure-pipelines.api.yml

#45 Fix linter errors
  web/src/app/views/books/edit/book-edit.component.ts
Due: azure-pipelines.web.yml

#65 Move configuration to use nestjs
  .gitignore
  api/.prettierrc
  api/src/app.module.ts
  api/src/core/config/config.ts
  api/src/core/config/configuration.ts
  api/src/core/database/database.module.ts
  api/src/main.ts
  api/src/scripts/write-type-orm-config.ts
Due: azure-pipelines.api.yml

#67 Remove unused commands and add missed packages
  api/package-lock.json
  api/package.json
  api/src/scripts/write-type-orm-config.ts
Due: azure-pipelines.api.yml

#24 Initial package structure
  api/package-lock.json
  package/INFO.sh
  package/LICENSE
  package/SynoBuildConf/build
  package/SynoBuildConf/depends
  package/SynoBuildConf/install
  package/conf/privilege
  package/conf/resource
  package/scripts/postinst
  package/scripts/postuninst
  package/scripts/postupgrade
  package/scripts/preinst
  package/scripts/preuninst
  package/scripts/preupgrade
  package/scripts/start-stop-status
  package/ui/config
  package/ui/config.back
  package/ui/images/128.png
  package/ui/images/16.png
  package/ui/images/256.png
  package/ui/images/32.png
  package/ui/images/64.png
  package/ui/images/72.png
  package/ui/index.conf
  web/package.json
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#24 Fix db name in migration and host name in web
  api/package-lock.json
  api/src/core/config/configuration.ts
  api/src/core/database/migrations/1631436479521-AddLibraryTable.ts
  api/src/core/database/migrations/1631807938469-AddBookTables.ts
  web/src/environments/environment.prod.ts
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#24 Add package configuration
  LICENSE
  api/package-lock.json
  api/package.json
  package/INFO.sh
  package/LICENSE
  package/SynoBuildConf/depends
  package/SynoBuildConf/install
  package/WIZARD_UIFILES/install_uifile
  package/WIZARD_UIFILES/uninstall_uifile
  package/conf/resource
  package/scripts/postinst
  package/scripts/start-stop-status
  package/ui/config
  package/ui/config.back
  package/ui/images/128.png
  package/ui/images/16.png
  package/ui/images/256.png
  package/ui/images/32.png
  package/ui/images/64.png
  package/ui/images/72.png
  package/ui/index.conf
Due: azure-pipelines.api.yml

#74 Add logging configuration for file and console
  api/.env.example
  api/package-lock.json
  api/package.json
  api/src/app.module.ts
  api/src/core/config/configuration.ts
  api/src/main.ts
Due: azure-pipelines.api.yml

#74 Use console logging only for development
  api/src/app.module.ts
  api/src/core/config/configuration.ts
  api/src/main.ts
Due: azure-pipelines.api.yml

#73 Add images configuration
  api/.env.example
  api/src/core/common/services/image.service.ts
  api/src/core/common/services/tests/image.service.test.ts
  web/package-lock.json
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#72 Add logger to file system wrapper
  api/src/core/common/common.module.ts
  api/src/core/common/services/fs.wrapper.ts
  api/src/core/common/services/tests/fs.wrapper.test.ts
Due: azure-pipelines.api.yml

#72 Fix incorrect query parameter in fm controller
  api/.vscode/launch.json
  api/src/core/common/services/fs.wrapper.ts
  api/src/core/common/services/tests/fs.wrapper.test.ts
  api/src/filemanager/filemanager.controller.ts
  api/src/main.ts
Due: azure-pipelines.api.yml

#71 Add script to perform a release
  .gitignore
  api/package-lock.json
  api/package.json
  package/INFO.sh
  package/scripts/postinst
  release.py
  web/package-lock.json
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#72 fix incorrect trim of path
  web/.vscode/launch.json
  web/package-lock.json
  web/package.json
  web/src/app/views/library/manage/manage-library.component.spec.ts
  web/src/app/views/library/manage/manage-library.component.ts
Due: azure-pipelines.web.yml

Path conditions:
  azure-pipelines.api.yml: any of: api
  azure-pipelines.web.yml: any of: web
