Repository MasDenBy/home-library: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.api.yml, azure-pipelines.web.yml

azure-pipelines.api.yml:

trigger:
  paths:
    include:
      - api

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
  displayName: 'Install Node.js'

- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'api'
  displayName: 'Instal dependencies'

- task: Npm@1
  inputs:
    command: 'custom'
    workingDir: 'api'
    customCommand: 'run build'
  displayName: 'Build'
  
- task: Npm@1
  inputs:
    command: 'custom'
    workingDir: 'api'
    customCommand: 'run lint'
  displayName: 'Lint'

- task: Npm@1
  inputs:
    command: 'custom'
    workingDir: 'api'
    customCommand: 'run test:coverage'
  displayName: 'Test & Coverage'

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: 'api/coverage/cobertura-coverage.xml'
    pathToSources: 'api/src'
  displayName: 'Publish Code Coverage'

azure-pipelines.web.yml:

trigger:
  paths:
    include:
      - web

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
  displayName: 'Install Node.js'

- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'web'
  displayName: 'Instal dependencies'

- task: Npm@1
  inputs:
    command: 'custom'
    workingDir: 'web'
    customCommand: 'run build'
  displayName: 'Build'

- task: Npm@1
  inputs:
    command: 'custom'
    workingDir: 'web'
    customCommand: 'run coverage'
  displayName: 'Test & Coverage'

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: 'web/coverage/home-library/cobertura-coverage.xml'
    pathToSources: 'web/src'
  displayName: 'Publish Code Coverage'

#81 Prevent scan abortion when there is a lack of permission to file or folder
  api/src/core/common/services/fs.wrapper.ts
  api/src/core/common/services/tests/fs.wrapper.test.ts
Due: azure-pipelines.api.yml

#84 exclude #recycle folder in scan process
  api/src/core/common/services/fs.wrapper.ts
  api/src/core/common/services/tests/fs.wrapper.test.ts
Due: azure-pipelines.api.yml

#82 Add the path to the book to edit metadata view
  api/src/core/common/services/fs.wrapper.ts
  web/src/app/views/books/edit/book-edit.component.html
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#86 Filter files by book type
  api/src/libraries/services/indexer.service.ts
  api/src/libraries/services/tests/indexer.service.test.ts
Due: azure-pipelines.api.yml

#89 log exceptions from openlibrary api
  api/src/core/openlibrary/openlibrary.service.test.ts
  api/src/core/openlibrary/openlibrary.service.ts
Due: azure-pipelines.api.yml

#64 update to angular 10
  web/.browserslistrc
  web/package-lock.json
  web/package.json
Due: azure-pipelines.web.yml

#64 Update to angular 11
  web/angular.json
  web/package-lock.json
  web/package.json
  web/src/app/app-routing.module.ts
  web/src/app/views/library/list/library-list.component.spec.ts
  web/src/app/views/library/manage/manage-library.component.spec.ts
Due: azure-pipelines.web.yml

#64 Update to angular 12
  web/angular.json
  web/package-lock.json
  web/package.json
  web/src/environments/environment.ts
  web/src/polyfills.ts
  web/src/test.ts
Due: azure-pipelines.web.yml

#64 Update to angular 13
  web/.gitignore
  web/package-lock.json
  web/package.json
  web/src/polyfills.ts
  web/src/test.ts
Due: azure-pipelines.web.yml

#64 Update node version to 14 for pipelines
  azure-pipelines.api.yml
  azure-pipelines.web.yml
Due: none

#64 Fix linter
  web/package-lock.json
  web/package.json
  web/src/test.ts
Due: azure-pipelines.web.yml

#64 Fix karma configuration
  web/karma.conf.js
  web/package-lock.json
  web/package.json
Due: azure-pipelines.web.yml

#64 Update primeng to v13
  web/angular.json
  web/package-lock.json
  web/package.json
  web/src/app/app.component.scss
  web/src/app/views/books/details/book-details.component.html
  web/src/app/views/books/details/book-details.component.spec.ts
  web/src/app/views/books/edit/book-edit.component.html
  web/src/app/views/books/edit/book-edit.component.scss
  web/src/app/views/books/list/books-list.component.html
  web/src/app/views/books/list/books-list.component.scss
  web/src/app/views/library/list/library-list.component.html
  web/src/app/views/library/list/library-list.component.scss
  web/src/app/views/library/list/library-list.component.spec.ts
  web/src/app/views/library/manage/manage-library.component.html
  web/src/app/views/library/manage/manage-library.component.scss
  web/src/styles/styles.scss
  web/src/styles/variables.scss
Due: azure-pipelines.web.yml

#92 Fix NOIMAGE url
  web/src/app/common/image.service.ts
  web/src/app/common/tests/image.service.spec.ts
Due: azure-pipelines.web.yml

#95 Add loading component
  api/package-lock.json
  api/package.json
  api/src/books/books.controller.test.ts
  api/src/books/books.controller.ts
  api/src/books/dto/list.query.dto.ts
  api/src/core/common/helpers/cast.helper.test.ts
  api/src/core/common/helpers/cast.helper.ts
  api/src/core/common/services/fs.wrapper.ts
  api/src/core/common/services/image.service.ts
  api/src/core/common/services/tests/fs.wrapper.test.ts
  api/src/core/common/services/tests/image.service.test.ts
  api/src/core/openlibrary/openlibrary.module.ts
  api/src/core/openlibrary/openlibrary.service.test.ts
  api/src/core/openlibrary/openlibrary.service.ts
  api/src/libraries/services/indexer.service.ts
  api/src/libraries/services/tests/indexer.service.test.ts
  api/src/main.ts
  web/src/app/app.component.html
  web/src/app/app.component.ts
  web/src/app/app.module.ts
  web/src/app/common/components/loading/loading.component.html
  web/src/app/common/components/loading/loading.component.scss
  web/src/app/common/components/loading/loading.component.ts
  web/src/app/common/components/loading/loading.service.ts
  web/src/app/views/books/list/books-list.component.spec.ts
  web/src/app/views/books/list/books-list.component.ts
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#92 Fix incorrect base url for release
  web/package.json
Due: azure-pipelines.web.yml

Fix removing the library
  api/src/books/database/book.datastore.test.ts
  api/src/books/database/book.datastore.ts
  api/src/books/database/file.entity.ts
  api/src/books/dto/book.dto.ts
  api/src/books/dto/book.search.dto.ts
  api/src/books/services/book.service.test.ts
  api/src/books/services/book.service.ts
  api/src/core/common/services/fs.wrapper.ts
  api/src/core/common/services/image.service.ts
  api/src/core/common/services/tests/fs.wrapper.test.ts
  api/src/core/common/services/tests/image.service.test.ts
  api/src/core/database/base.datastore.test.ts
  api/src/core/database/base.datastore.ts
  api/src/core/database/migrations/1655565563834-IncreaseSizeOfImageNameColumn.ts
  api/src/core/openlibrary/openlibrary.service.test.ts
  api/src/core/openlibrary/openlibrary.service.ts
  api/src/libraries/database/library.datastore.ts
  api/src/libraries/dto/library.dto.ts
  api/src/libraries/libraries.controller.test.ts
  api/src/libraries/libraries.controller.ts
  api/src/libraries/services/library.service.ts
  api/src/libraries/services/tests/library.service.test.ts
  api/src/main.ts
  web/src/app/views/library/manage/manage-library.component.ts
Due: azure-pipelines.api.yml, azure-pipelines.web.yml

#97 Fix linter issues
  web/src/app/views/library/manage/manage-library.component.ts
Due: azure-pipelines.web.yml

#102 Change configuration example to reflect how it should be implemented in production
  api/.env.example
Due: azure-pipelines.api.yml

#107 Create search component
  web/src/app/app.component.html
  web/src/app/app.component.scss
  web/src/app/app.component.spec.ts
  web/src/app/app.component.ts
  web/src/app/app.module.ts
  web/src/app/common/components/loading/loading.service.spec.ts
  web/src/app/common/components/loading/loading.service.ts
  web/src/app/common/index.ts
  web/src/app/common/interceptors/network.interceptor.spec.ts
  web/src/app/common/interceptors/network.interceptor.ts
  web/src/app/common/tests/ui.service.spec.ts
  web/src/app/common/ui.service.ts
  web/src/app/views/books/books.module.ts
  web/src/app/views/books/list/books-list.component.html
  web/src/app/views/books/list/books-list.component.spec.ts
  web/src/app/views/books/list/books-list.component.ts
  web/src/app/views/books/search/search.component.html
  web/src/app/views/books/search/search.component.scss
  web/src/app/views/books/search/search.component.spec.ts
  web/src/app/views/books/search/search.component.ts
Due: azure-pipelines.web.yml

#107 add unit tests
  web/src/app/common/components/loading/loading.service.spec.ts
  web/src/app/common/interceptors/network.interceptor.spec.ts
  web/src/app/common/interceptors/network.interceptor.ts
  web/src/app/common/tests/ui.service.spec.ts
  web/src/app/common/ui.service.ts
  web/src/app/views/books/list/books-list.component.spec.ts
  web/src/app/views/books/list/books-list.component.ts
  web/src/app/views/books/search/search.component.ts
Due: azure-pipelines.web.yml

#107 Search of the book throws exception (#108)
  web/src/app/app.component.html
  web/src/app/app.component.scss
  web/src/app/app.component.spec.ts
  web/src/app/app.component.ts
  web/src/app/app.module.ts
  web/src/app/common/components/loading/loading.service.spec.ts
  web/src/app/common/components/loading/loading.service.ts
  web/src/app/common/index.ts
  web/src/app/common/interceptors/network.interceptor.spec.ts
  web/src/app/common/interceptors/network.interceptor.ts
  web/src/app/common/tests/ui.service.spec.ts
  web/src/app/common/ui.service.ts
  web/src/app/views/books/books.module.ts
  web/src/app/views/books/list/books-list.component.html
  web/src/app/views/books/list/books-list.component.spec.ts
  web/src/app/views/books/list/books-list.component.ts
  web/src/app/views/books/search/search.component.html
  web/src/app/views/books/search/search.component.scss
  web/src/app/views/books/search/search.component.spec.ts
  web/src/app/views/books/search/search.component.ts
Due: azure-pipelines.web.yml

add book worker background process app
  process/MasDen.HomeLibrary.BookProcessor/BookWorker.cs
  process/MasDen.HomeLibrary.BookProcessor/Configuration/BookWorkerConfiguration.cs
  process/MasDen.HomeLibrary.BookProcessor/Configuration/Validators/BookWorkerConfigurationValidator.cs
  process/MasDen.HomeLibrary.BookProcessor/MasDen.HomeLibrary.BookProcessor.csproj
  process/MasDen.HomeLibrary.BookProcessor/MasDen.HomeLibrary.BookProcessor.sln
  process/MasDen.HomeLibrary.BookProcessor/Program.cs
  process/MasDen.HomeLibrary.BookProcessor/Properties/launchSettings.json
  process/MasDen.HomeLibrary.BookProcessor/appsettings.Development.json
  process/MasDen.HomeLibrary.BookProcessor/appsettings.json
Due: none

change api pipeline
  api/tests/Directory.Build.targets
  api/tests/MasDen.HomeLibrary.Infrastructure.Tests/MasDen.HomeLibrary.Infrastructure.Tests.csproj
  azure-pipelines.api.yml
Due: azure-pipelines.api.yml

add integration tests
  api/MasDen.HomeLibrary.Database.Migrator/MigrationRunner.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Controllers/LibrariesControllerTests.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/IntegrationTestsWebApplicationFactory.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/MasDen.HomeLibrary.IntegrationTests.csproj
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/BogusExtensions.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/DataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/LibraryDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/Fakers/LibraryFaker.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestsConfiguration.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestsFixture.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Usings.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/testssettings.json
  api/tests/tests.env
Due: azure-pipelines.api.yml

run integration tests in pipeline
  .azuredevops/api/Dockerfile
  .azuredevops/api/docker-compose.yml
  .azuredevops/api/tests.env
  api/MasDen.HomeLibrary.Database.Migrator/ConfigurationManager.cs
  api/MasDen.HomeLibrary.Database.Migrator/DatabasePolicy.cs
  api/MasDen.HomeLibrary.Database.Migrator/MasDen.HomeLibrary.Database.Migrator.csproj
  api/MasDen.HomeLibrary.Database.Migrator/MigrationRunner.cs
  api/MasDen.HomeLibrary.Persistence/DataObject.cs
  api/MasDen.HomeLibrary.Persistence/MasDen.HomeLibrary.Persistence.csproj
  api/tests/MasDen.HomeLibrary.IntegrationTests/MasDen.HomeLibrary.IntegrationTests.csproj
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/LibraryDataHelper.cs
  api/tests/tests.env
  azure-pipelines.api.yml
Due: azure-pipelines.api.yml

add create library endpoint
  api/MasDen.HomeLibrary.Api.sln
  api/MasDen.HomeLibrary.Api/Controllers/LibrariesController.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IDataObject.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/ILibraryDataStore.cs
  api/MasDen.HomeLibrary.Persistence/DataObject.cs
  api/MasDen.HomeLibrary.Persistence/DataObjectHelpers.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/LibraryDataStore.cs
  api/MasDen.HomeLibrary.Persistence/MasDen.HomeLibrary.Persistence.csproj
  api/MasDen.HomeLibrary.Persistence/ServiceCollectionExtensions.cs
  api/MasDen.HomeLibrary/Libraries/Commands/CreateLibrary/CreateLibraryCommand.cs
  api/MasDen.HomeLibrary/Libraries/Commands/CreateLibrary/CreateLibraryCommandHandler.cs
  api/MasDen.HomeLibrary/Libraries/Commands/CreateLibrary/CreateLibraryCommandValidator.cs
  api/MasDen.HomeLibrary/Libraries/Commands/CreateLibrary/CreatedLibraryDto.cs
  api/MasDen.HomeLibrary/Libraries/Commands/CreateLibrary/LibraryMapper.cs
  api/MasDen.HomeLibrary/Libraries/Queries/GetLibraries/GetLibrariesQueryHandler.cs
  api/MasDen.HomeLibrary/Libraries/Queries/GetLibraries/LibraryMapper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Controllers/LibrariesControllerTests.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/LibraryDataHelper.cs
  api/tests/MasDen.HomeLibrary.Tests/Libraries/Commands/CreateLibrary/CreateLibraryCommandHandlerTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Libraries/Commands/CreateLibrary/CreateLibraryCommandValidatorTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Libraries/Queries/GetLibraries/GetLibrariesQueryHandlerTests.cs
  api/tests/MasDen.HomeLibrary.Tests/MasDen.HomeLibrary.Tests.csproj
  api/tests/MasDen.HomeLibrary.Tests/Usings.cs
Due: azure-pipelines.api.yml

add retry policy to database operations
  .azuredevops/api/tests.env
  api/MasDen.HomeLibrary.Api/Program.cs
  api/MasDen.HomeLibrary.Infrastructure/Configuration/ApplicationConfiguration.cs
  api/MasDen.HomeLibrary.Infrastructure/Configuration/ApplicationConfigurationValidator.cs
  api/MasDen.HomeLibrary.Persistence/DataObject.cs
  api/MasDen.HomeLibrary.Persistence/DataObjectFactory.cs
  api/MasDen.HomeLibrary.Persistence/MasDen.HomeLibrary.Persistence.csproj
  api/MasDen.HomeLibrary.Persistence/RetryOptions.cs
  api/tests/MasDen.HomeLibrary.Infrastructure.Tests/Configuration/ApplicationConfigurationValidatorTests.cs
Due: azure-pipelines.api.yml

remove excess commas in test env file
  .azuredevops/api/tests.env
Due: none

fix integration tests configuration
  .azuredevops/api/tests.env
  api/tests/MasDen.HomeLibrary.IntegrationTests/testssettings.json
Due: azure-pipelines.api.yml

add retry policy to database helpers
  api/MasDen.HomeLibrary.Persistence/DataObject.cs
  api/MasDen.HomeLibrary.Persistence/Policies.cs
  api/MasDen.HomeLibrary.Persistence/RetryOptions.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/MasDen.HomeLibrary.IntegrationTests.csproj
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/DataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/LibraryDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestsConfiguration.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestsFixture.cs
Due: azure-pipelines.api.yml

add library delete endpoint
  api/MasDen.HomeLibrary.Api.sln
  api/MasDen.HomeLibrary.Api/Controllers/ApiControllerBase.cs
  api/MasDen.HomeLibrary.Api/Controllers/LibrariesController.cs
  api/MasDen.HomeLibrary.Api/Filters/ApiExceptionFilterAttribute.cs
  api/MasDen.HomeLibrary.Infrastructure/Exceptions/NotFoundException.cs
  api/MasDen.HomeLibrary.Infrastructure/Exceptions/ValidationException.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IDataObject.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/ILibraryDataStore.cs
  api/MasDen.HomeLibrary.Persistence/DataObject.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/LibraryDataStore.cs
  api/MasDen.HomeLibrary/Common/Behaviours/ValidationBehaviour.cs
  api/MasDen.HomeLibrary/Libraries/Commands/DeleteLibrary/DeleteLibraryCommand.cs
  api/MasDen.HomeLibrary/Libraries/Commands/DeleteLibrary/DeleteLibraryCommandHandler.cs
  api/MasDen.HomeLibrary/Libraries/Commands/DeleteLibrary/DeleteLibraryCommandValidator.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Controllers/LibrariesControllerTests.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/MasDen.HomeLibrary.IntegrationTests.csproj
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/LibraryDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Usings.cs
  api/tests/MasDen.HomeLibrary.Persistence.Tests/DataStores/LibraryDataStoreTests.cs
  api/tests/MasDen.HomeLibrary.Persistence.Tests/MasDen.HomeLibrary.Persistence.Tests.csproj
  api/tests/MasDen.HomeLibrary.Persistence.Tests/Usings.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/BogusExtensions.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/LibraryFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/MasDen.HomeLibrary.TestInfrastructure.csproj
  api/tests/MasDen.HomeLibrary.Tests/Libraries/Commands/CreateLibrary/CreateLibraryCommandHandlerTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Libraries/Commands/DeleteLibrary/DeleteLibraryCommandValidatorTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Libraries/Queries/GetLibraries/GetLibrariesQueryHandlerTests.cs
Due: azure-pipelines.api.yml

add endpoint to get book by id
  api/MasDen.HomeLibrary.Api/Controllers/BooksController.cs
  api/MasDen.HomeLibrary.Domain/Entities/Book.cs
  api/MasDen.HomeLibrary.Domain/Entities/File.cs
  api/MasDen.HomeLibrary.Domain/Entities/Library.cs
  api/MasDen.HomeLibrary.Infrastructure/Configuration/ApplicationConfiguration.cs
  api/MasDen.HomeLibrary.Infrastructure/Configuration/ApplicationConfigurationValidator.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IBookDataStore.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IDataObject.cs
  api/MasDen.HomeLibrary.Infrastructure/ServiceCollectionExtensions.cs
  api/MasDen.HomeLibrary.Infrastructure/Services/IImageService.cs
  api/MasDen.HomeLibrary.Infrastructure/Services/ImageService.cs
  api/MasDen.HomeLibrary.Persistence/DataObject.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/BookDataStore.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBook/BookDto.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBook/BookMapper.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBook/GetBookQuery.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBook/GetBookQueryHandler.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBook/GetBookQueryValidator.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBooks/BookPageItemDto.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBooks/GetBooksMapper.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBooks/GetBooksQuery.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBooks/GetBooksQueryHandler.cs
  api/tests/MasDen.HomeLibrary.Infrastructure.Tests/Configuration/ApplicationConfigurationValidatorTests.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Controllers/BooksControllerTests.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/BookDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/DataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/MetadataDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/ImageHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestsConfiguration.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestsFixture.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/testssettings.json
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/BookFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/FileFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/LibraryFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/MetadataFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/MasDen.HomeLibrary.TestInfrastructure.csproj
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Usings.cs
Due: azure-pipelines.api.yml

add update book endpoint
  api/MasDen.HomeLibrary.Api/Controllers/BooksController.cs
  api/MasDen.HomeLibrary.Database.Migrator/Migrations/Migration01_Initial.cs
  api/MasDen.HomeLibrary.Domain/Entities/Book.cs
  api/MasDen.HomeLibrary.Domain/Entities/Metadata.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IBookDataStore.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IDataObject.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IDbConnectionWrapper.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IMetadataDataStore.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IUnitOfWork.cs
  api/MasDen.HomeLibrary.Persistence/DataObject.cs
  api/MasDen.HomeLibrary.Persistence/DataObjectFactory.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/BookDataStore.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/MetadataDataStore.cs
  api/MasDen.HomeLibrary.Persistence/DbConnectionWrapper.cs
  api/MasDen.HomeLibrary.Persistence/ServiceCollectionExtensions.cs
  api/MasDen.HomeLibrary.Persistence/UnitOfWork.cs
  api/MasDen.HomeLibrary/Books/Commands/UpdateBook/UpdateBookCommand.cs
  api/MasDen.HomeLibrary/Books/Commands/UpdateBook/UpdateBookCommandHandler.cs
  api/MasDen.HomeLibrary/Books/Commands/UpdateBook/UpdateBookCommandValidator.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBook/BookDto.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBook/GetBookQueryHandler.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBook/GetBookQueryValidator.cs
  api/MasDen.HomeLibrary/Books/Queries/GetBooks/GetBooksQueryHandler.cs
  api/MasDen.HomeLibrary/Libraries/Commands/CreateLibrary/CreateLibraryCommandHandler.cs
  api/MasDen.HomeLibrary/Libraries/Commands/DeleteLibrary/DeleteLibraryCommandHandler.cs
  api/MasDen.HomeLibrary/Libraries/Queries/GetLibraries/GetLibrariesQueryHandler.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/AssemblyInfo.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Controllers/BooksControllerTests.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/BookDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/DataHelperBase.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/BookFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/MetadataFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/MasDen.HomeLibrary.TestInfrastructure.csproj
  api/tests/MasDen.HomeLibrary.TestInfrastructure/PriorityOrderer.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/TestPriorityAttribute.cs
  api/tests/MasDen.HomeLibrary.Tests/Books/Commands/UpdateBook/UpdateBookCommandValidatorTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Books/Queries/GetBook/GetBookQueryValidatorTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Libraries/Commands/CreateLibrary/CreateLibraryCommandHandlerTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Libraries/Queries/GetLibraries/GetLibrariesQueryHandlerTests.cs
Due: azure-pipelines.api.yml

fix unit tests
  api/MasDen.HomeLibrary/Books/Queries/GetBook/BookDto.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Controllers/BooksControllerTests.cs
Due: azure-pipelines.api.yml

implement delete book endpoint
  api/MasDen.HomeLibrary.Api/Controllers/BooksController.cs
  api/MasDen.HomeLibrary.Database.Migrator/Migrations/Migration01_Initial.cs
  api/MasDen.HomeLibrary.Domain/Entities/Book.cs
  api/MasDen.HomeLibrary.Domain/Entities/BookFile.cs
  api/MasDen.HomeLibrary.Domain/Entities/Metadata.cs
  api/MasDen.HomeLibrary.Domain/StronglyTypedIds/BookFileId.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IBookDataStore.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IBookFileDataStore.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IDataObject.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/ILibraryDataStore.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IMetadataDataStore.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IUnitOfWork.cs
  api/MasDen.HomeLibrary.Persistence/DataObject.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/BookDataStore.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/BookFileDataStore.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/LibraryDataStore.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/MetadataDataStore.cs
  api/MasDen.HomeLibrary.Persistence/ServiceCollectionExtensions.cs
  api/MasDen.HomeLibrary.Persistence/UnitOfWork.cs
  api/MasDen.HomeLibrary/Books/Commands/UpdateBook/UpdateBookCommandHandler.cs
  api/MasDen.HomeLibrary/Books/DeleteBook/DeleteBookCommand.cs
  api/MasDen.HomeLibrary/Books/DeleteBook/DeleteBookCommandHandler.cs
  api/MasDen.HomeLibrary/Books/DeleteBook/DeleteBookCommandValidator.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Controllers/BooksControllerTests.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/BookDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/BookFileDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/DataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/DataHelperBase.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/FileDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/MetadataDataHelper.cs
  api/tests/MasDen.HomeLibrary.Persistence.Tests/DataStores/LibraryDataStoreTests.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/BookFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/BookFileFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/FileFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/LibraryFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/MetadataFaker.cs
  api/tests/MasDen.HomeLibrary.Tests/Books/Commands/DeleteBook/DeleteBookCommandHandlerTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Books/Commands/DeleteBook/DeleteBookCommandValidatorTests.cs
Due: azure-pipelines.api.yml

add Search books endpoint
  api/MasDen.HomeLibrary.Api/Controllers/BooksController.cs
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IBookDataStore.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/BookDataStore.cs
  api/MasDen.HomeLibrary/Books/Queries/Search/SearchBookPageItemDto.cs
  api/MasDen.HomeLibrary/Books/Queries/Search/SearchBooksMapper.cs
  api/MasDen.HomeLibrary/Books/Queries/Search/SearchBooksQuery.cs
  api/MasDen.HomeLibrary/Books/Queries/Search/SearchBooksQueryHandler.cs
  api/MasDen.HomeLibrary/Books/Queries/Search/SearchBooksQueryValidator.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Controllers/BooksControllerTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Books/Queries/Search/SearchBooksQueryValidatorTests.cs
Due: azure-pipelines.api.yml

add delete and download book endpoints
  api/MasDen.HomeLibrary.Api/Controllers/BooksController.cs
  api/MasDen.HomeLibrary.Api/Program.cs
  api/MasDen.HomeLibrary.Database.Migrator/ConfigurationManager.cs
  api/MasDen.HomeLibrary.Database.Migrator/MigrationOptions.cs
  api/MasDen.HomeLibrary.Database.Migrator/MigrationRunner.cs
  api/MasDen.HomeLibrary.Infrastructure/MasDen.HomeLibrary.Infrastructure.csproj
  api/MasDen.HomeLibrary.Infrastructure/Persistence/IBookFileDataStore.cs
  api/MasDen.HomeLibrary.Infrastructure/Processors/OpenLibrary/OpenLibraryProcessor.cs
  api/MasDen.HomeLibrary.Infrastructure/ServiceCollectionExtensions.cs
  api/MasDen.HomeLibrary.Persistence/DataStores/BookFileDataStore.cs
  api/MasDen.HomeLibrary/Books/Commands/DeleteBook/DeleteBookCommand.cs
  api/MasDen.HomeLibrary/Books/Commands/DeleteBook/DeleteBookCommandHandler.cs
  api/MasDen.HomeLibrary/Books/Commands/DeleteBook/DeleteBookCommandValidator.cs
  api/MasDen.HomeLibrary/Books/Commands/IndexBook/IndexBookCommand.cs
  api/MasDen.HomeLibrary/Books/Commands/IndexBook/IndexBookCommandHandler.cs
  api/MasDen.HomeLibrary/Books/Commands/IndexBook/IndexBookCommandValidator.cs
  api/MasDen.HomeLibrary/Books/Queries/DownloadBook/DownloadBookHandler.cs
  api/MasDen.HomeLibrary/Books/Queries/DownloadBook/DownloadBookQuery.cs
  api/MasDen.HomeLibrary/Books/Queries/DownloadBook/DownloadBookValidator.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Controllers/BooksControllerTests.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/Controllers/LibrariesControllerTests.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/IntegrationTestsWebApplicationFactory.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/MasDen.HomeLibrary.IntegrationTests.csproj
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/BookDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/BookFileDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/DataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/DataHelperBase.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/LibraryDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/DataHelpers/MetadataDataHelper.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestInfrastructure/MariaDbTestContainer.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestsConfiguration.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/TestsFixture.cs
  api/tests/MasDen.HomeLibrary.IntegrationTests/testssettings.json
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/BookFaker.cs
  api/tests/MasDen.HomeLibrary.TestInfrastructure/Fakers/BookFileFaker.cs
  api/tests/MasDen.HomeLibrary.Tests/Books/Commands/DeleteBook/DeleteBookCommandHandlerTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Books/Commands/DeleteBook/DeleteBookCommandValidatorTests.cs
  api/tests/MasDen.HomeLibrary.Tests/Books/Queries/DownloadBook/DownloadBookValidatorTests.cs
Due: azure-pipelines.api.yml
